.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.gContainer{
  margin-bottom: 50px;
}

.Greeting{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: green;
}

.GreetingP{
  display: flex;
  justify-content: center;
  color:black;
  font-weight: bold;
}

.dinoRanchPic{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-left: 750px;
}

.employerText{
  display:flex;
  justify-content: center;
  margin-top: 60px;
}

.employerGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.individualText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.individualGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.resourceText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.resourceGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.testText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.testGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.aboutText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.aboutGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.termsText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.termsGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.privacyText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.privacyGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.securityText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.securityGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.cookieText{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.cookieGif{
  display: flex;
  justify-content: center;
  margin-left: 825px;
}

.registerDiv{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.registerContainer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginDiv{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.loginContainer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email{
  color:black;
}

.password{
  color:black;
}

.login{
  color:green;
}

.loginPage{
  display: flex;
  justify-content: center;
  margin-top:70px;
  color:green;
}

.registration{
  color:green;
  margin-top: 70px;
}

.videos{
  display: flex;
  justify-content: center;
  color:green;
  margin-top: 70px;
}

.catalog{
  color:green;
  margin-top: 70px;
}

.Contact{
  color:black;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.contactMe{
  color:black;
  display: flex;
  justify-content: center;
}

.loginGif {
  height: 200px;
}


.regGif{
  height: 300px;
}

.cancelText{
  color:black;
}

.successText{
  color:black;
}

.dinoName{
  color: black;
}

.mb-0{
  color:black;
}

#raptorSong{
  display: flex;
}

#vladAndNiki{
  display: flex;
}

#raptorVid{
  display: flex;
}

#card {
  width: 300px;
}

#toyImage{
  width: 300px;
}

.product{
  color:black;
}

.productName{
  color:black;
}

#snapSquad{
  display:flex;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}
